body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  color: #556131 !important;
  margin: 20px 0 30px !important;
}

h4.bed {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

form.login {
  margin-top: 20%;
}

form.register {
  margin-top: 10%;
}
